/* Global Styles */
body {
    background-color: white;
    
    /* webkit scrollbar */
    &::-webkit-scrollbar {
      width: 8px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #ff7e5f;
      border-radius: 4px;
    }
  
    &::-webkit-scrollbar-track {
      background-color: #f1f1f1;
    }
  }